@import url("root.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    overflow-x: hidden;
    background: rgb(10, 14, 39);
}

/* ===== COMMON STYLE ===== */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
    margin-top: 5rem;
    font-family: var(--font-main);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-title);
    color: var(--text-main);
}

.section-title-second {
    font-family: var(--font-main);
    font-size: var(--fs-h3);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-title);
    color: var(--text-main);
}

.section-text {
    font-family: var(--font-main);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body);
    color: var(--text-main);
}

.section-text-second {
    font-family: var(--font-main);
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    color: var(--text-muted);
}

.soft {
    background: var(--bg-soft);
    border-top: 5px solid var(--border-soft);
    border-bottom: 5px solid var(--border-soft);
}

.dark {
    background: var(--bg-dark);
}

.div-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bg-icon);
    color: var(--text-main);
    border: none;
    border-radius: 50%;
}

/* ===== HEADER ===== */
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background: rgba(10, 14, 39, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--text-muted);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-main);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--text-main);
    margin-right: 0.5rem;
}

.logo-icon > svg {
    width: 30px;
    height: 30px;
}

.logo-name {
    font-family: var(--font-main);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-title);
    color: var(--text-main);
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.nav > a,
.modal-nav > div > a {
    text-decoration: none;
    font-family: var(--font-main);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    line-height: var(--lh-title);
    color: var(--text-main);
    padding: 0.25rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.nav > a:hover,
.modal-nav > div > a:hover {
    color: var(--accent-main);
}

/*===== ANIMATION NAV LINKS AU SCROLL =====*/

.nav-link.active {
    color: var(--accent-main);
    border-bottom: 2px solid var(--accent-main);
}
/* ===== MODAL NAV ===== */

.nav-menu {
    text-decoration: none;
    font-family: var(--font-main);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-title);
    color: var(--text-main);
    padding: 0.5rem;
    cursor: pointer;
}

.modal-nav {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 999;
    animation: fadeInUp 0.3s ease-out 0.2s backwards;
    backdrop-filter: blur(10px);
}

.modal-nav.active {
    display: flex;
}

.modal-nav > div {
    position: relative;
    width: min(90%, 400px);
    padding: 2rem 1rem;
    background: rgb(10, 14, 39);
    border: var(--border-soft);
    border-radius: 50px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.modal-nav > div > a {
    display: block;
    border-top: 2px solid var(--border-soft);
    width: 100%;
    text-align: center;
}

.modal-nav > div > a:first-child {
    border: none;
}

/* ===== HERO SECTION ===== */
.hero-content h1 {
    font-family: var(--font-accent);
    color: var(--text-main);
    font-size: var(--fs-hero);
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
    letter-spacing: -0.02em;
    animation: fadeInUp 0.8s ease-out 0.2s backwards;
}

.hero-content p {
    font-family: var(--font-main);
    font-size: var(--fs-body);
    color: var(--text-muted);
    margin-bottom: 2rem;
    animation: fadeInUp 0.8s ease-out 0.4s backwards;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    padding: 12px 18px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;

    cursor: pointer;
    color: var(--text-main);
    transition: all 0.3s ease;
    animation: fadeInUp 0.8s ease-out 0.6s backwards;
}

.more-btn {
    background-color: transparent;
}

.contact-btn {
    background: rgba(255, 255, 255, 0.253);
}

.btn:hover {
    background: rgba(255, 255, 255, 0.342);
    border-color: rgba(255, 255, 255, 0.6);
}

.btn-text {
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
}

.btn-icon {
    width: 28px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;
    border-radius: 50%;
}

.btn-icon > svg {
    width: 14px;
    height: 14px;
}

/* ===== ABOUT SECTION ===== */
.about-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 70%;
    height: auto;
    padding: 1rem 4rem;
    margin-bottom: 3rem;
}

.about-text {
    width: 65%;
}

.about-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;

    font-weight: var(--fw-semibold);
}

.about-skill {
    padding: 6px 12px;
    border: none;
    border-radius: 999px;
    background: var(--bg-soft-second);
}

.about-img {
    padding: 2rem;
    position: relative;
    border-radius: 1rem 0 1rem 0;
    background: var(--card-soft);
}

.avatar > img {
    object-fit: cover;
    width: 12rem;
    height: 15rem;
}

.dot {
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--border-soft);
    background: var(--bg-icon);
}

.dot-top {
    width: 12px;
    height: 12px;
    top: -6px;
    right: -5px;
}

.dot-bottom {
    width: 22px;
    height: 22px;
    bottom: -6px;
    left: -5px;
}

/* ===== FORMATION SECTION ===== */
.formation-contain {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    width: 65%;
    padding: 4rem 3rem;
    
    gap: 2rem;
}

.formation-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    border: 2px solid var(--border-soft);
    border-radius: 7px;
    background: var(--card-dark);
    padding: 1rem;
}

.formation-icon {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.formation-icon > svg {
    width: 24px;
    height: 24px;
    
    border: none;
    border-radius: 50%;
}

.formation-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    margin-left: 1rem;
    width: 90%;
}

/*===== SKILLS SECTION =====*/
.skill-contain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    padding: 4rem 3rem;
    gap: 2rem;
}

.icon-skill {
    width: 60px;
    height: 60px;
    padding: 5px;
}

.icon-skill > svg {
    width: 28px;
    height: 28px;
}

.skill-card,
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-card {
    gap: 1rem;
    padding: 1rem;
    border: 2px solid var(--border-soft);
    border-radius: 5px;
    background: var(--card-soft);
}

.skill {
    height: 90%;
    gap: 1rem;
}

/* ===== PROJECTS SECTION ===== */
.project-card,
.type-project {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-contain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 2rem;
    padding: 3rem;
}

.project-card {
    flex-direction: column;
    border: 1px solid var(--border-soft);
    border-radius: 7px;
    height: 25rem;
}

.type-project {
    height: 50%;
    width: 100%;
    background: linear-gradient(-25deg, var(--card-dark) 10%,  var(--card-soft) 90%);
}

.type-project > p {
    font-family: var(--font-main);
    font-size: var(--fs-h3);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-title);
    color: var(--text-muted);
}

.details-project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    height: 50%;
    background: var(--card-dark);
    padding: 1rem;
}

.details-project > ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-main);
}

.details-project > ul > li {
    font-family: var(--font-main);
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
    padding: 0.5rem;
    border-radius: 7px;
    background-color: var(--bg-icon);
}

/* ===== STATS SECTION ===== */
.stats-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 1rem;
}

.stats-contain > p:first-child {
    margin-bottom: 1rem;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1rem;
}

.stat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.8rem;
    background: var(--card-soft);
    border-radius: 15px;
}

.stat-number {
    display: block;
    font-family: var(--font-main);
    font-size: 3rem;
    font-weight: var(--fw-bold);
    color: var(--text-muted);
}

/* ===== REVIEW SECTION ===== */
.reviews-contain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 3rem 4rem;
}

.reviews-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;

    border: 1px solid var(--border-soft);
    border-radius: 8px;
    background: var(--card-dark);
}

.reviews-card-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.reviews-card-head > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: none;
    color: var(--text-muted);
}

.reviews-card-head > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.25rem;
}

.reviews-card-body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.25rem;
}

.reviews-card-footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.25rem;
    gap: 0.5rem;
}

.reviews-card-footer > span {
    width: 15px;
    height: 15px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: var(--text-main);
}

/* ===== FORM SECTION ===== */
.contact {
    gap: 2rem;
}

.contact-contain {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 3rem 4rem;
    gap: 2rem;
    width: 90%;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 30%;
}

.info-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;
}

.info,
.info-icon,
.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.info-icon,
.link-icon {
    width: 30px;
    height: 30px;
    color: var(--text-muted);
}

.info-icon > svg,
.link-icon > svg {
    width: 24px;
    height: 24px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0.5rem 0;
}

.contact-contain > div:last-child {
    width: 30%;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    background: var(--card-soft);
    border-radius: 15px;
}

.form > input,
.form > textarea {
    font-family: var(--font-main);
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
    width: 100%;
    border: none;
    border-radius: 5px;
    color: var(--text-main);
    background: var(--bg-dark);
    transition: border 0.2s ease-in-out;
}

.form > input {
    padding: 0.8rem;
}

.form > textarea {
    padding: 0.5rem;
    height: 9rem;
}

.form > input:focus,
.form > textarea:focus {
    outline: none;
    background: var(--bg-dark);
    border: 1px solid var(--accent-main);
}

.form > button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: var(--text-muted);
    background: var(--bg-icon);
}

#form > button > .btn-icon {
    color: var(--text-main);
}

/* ===== FOOTER SECTION ===== */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

footer > .citation {
    font-family: var(--font-main);
    font-size: var(--fs-body);
    color: var(--text-muted);
    font-weight: var(--fw-medium);
}

/* ===== ANIMATION : HOVER ===== */

/*----card----*/

.formation-card,
.skill-card,
.project-card,
.reviews-card {
    transition: transform 0.3s ease;
}

.formation-card:hover,
.skill-card:hover,
.project-card:hover,
.reviews-card:hover {
    transform: translateY(-5px);
}

.stat-card {
    transition: transform 0.4s ease;
}

.stat-card:hover {
    transform: scale(1.07);
}

/*----button----*/
.form > button {
    transition: all 0.4s ease;
}

.form > button:hover {
    background: var(--accent-main);
}

/*----link-icon----*/
.link-icon {
    transition: all 0.2s ease-in-out;
}

.link-icon:hover {
    color: var(--accent-alt);
}

/* ===== ANIMATION : SCROLL ===== */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}